<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeShop</title>
    <link rel="stylesheet" href="./styles.css" />
    <script
      src="https://kit.fontawesome.com/6f90f4e53c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="root">
      <header class="header">
        <section class="logo">
          <img
            class="logo-img"
            src="./images/pokeshop-logo.png"
            alt="Logo do PokeShop"
          />
          <span class="logo-gama">
            <img
              src="./images/gama-academy-logo.jpg"
              alt="Logo do Gama Academy"
            />
            Gama edition
          </span>
        </section>
        <section class="search">
          <input
            class="search-textbox"
            type="search"
            placeholder="Digite o nome do Pokémon..."
            autocomplete="name"
          />
          <button class="search-button">Procurar</button>
        </section>
      </header>
      <main class="content">
        <section class="pokemon">
          <ul class="pokemon-list">
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
            <li class="pokemon-card">
              <h3 class="pokemon-card-name">Unown</h3>
              <img
                class="pokemon-card-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do Pokémon"
              />
              <p class="pokemon-card-price"><span class="cash">R$</span>1000</p>
              <button class="pokemon-card-button">Adicionar ao Carrinho</button>
            </li>
          </ul>
        </section>
        <section class="shop-cart">
          <h1 class="shop-cart-title">Carrinho</h1>
          <ul class="shop-cart-itens">
            <li class="cart-item">
              <img
                class="item-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do item"
              />
              <span class="item-name">Unown</span>
              <span class="item-price"><span class="cash">R$</span>1000</span>
            </li>
            <li class="cart-item">
              <img
                class="item-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do item"
              />
              <span class="item-name">Unown</span>
              <span class="item-price"><span class="cash">R$</span>1000</span>
            </li>
            <li class="cart-item">
              <img
                class="item-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201.png"
                alt="Imagem do item"
              />
              <span class="item-name">Unown</span>
              <span class="item-price"><span class="cash">R$</span>1000</span>
            </li>
          </ul>
          <div class="shop-cart-total">
            <h3>Total</h3>
            <p class="total-price"><span class="cash">R$</span>1000</p>
          </div>
          <button class="shop-cart-button">Finalizar Compra</button>
        </section>
      </main>
      <footer class="footer">
        <span class="copyright">
          © 2020 Copyright:
          <a href=""> Lucas Camargo Cancio, Inc,</a>
          All rights reserved
        </span>
        <section class="social-midias">
          <!-- GitHub -->
          <a href="https://github.com/LucasCancio" target="_blank">
            <i class="fab fa-github fa-lg white-text"> </i>
          </a>
          <!--Linkedin -->
          <a
            href="https://www.linkedin.com/in/lucas-camargo-cancio/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-lg white-text"> </i>
          </a>
        </section>
      </footer>
    </div>
  </body>
</html>
