* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

p,h4,h3{
  margin: 0 !important;
}

li {
  list-style: none;
}

body,
html {
  background-color: white;
}
#root {
  height: 100vh;
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.logo {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.logo-img {
  height: 100px;
  width: auto;
}
.logo-gama {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: bold;
}

.logo-gama span{
  color: #a4f667;
  padding: 0 5px;
}

.logo-gama img {
  margin: 5px;
  height: 30px;
  width: auto;
  border-radius: 20px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.shop-cart{
  width: 50vw;
}


.item-image {
  height: 70px;
  width: auto;
}

.footer {
  padding: 20px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  font-size: 1.2em;

  display: flex;
  justify-content: space-around;
}

.social-midias a{
  padding: 10px;
}

.search-type-image{
  height: 35px;
}

.modal-sucess{
  font-size: 1.4em;
}

.modal-sucess-icon{
  font-size: 2em;
  color: rgb(7, 206, 0);
}

/* SEARCH */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.search input,
.search select{
  font-size: 1.5em;
}

.search-pokemon {
  padding: 20px 0;
}

.search-textbox{
  width: auto;
}

/* POKEMON */

.pokemon-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-content{
  min-width: 70%;
}

.pokemon {
  box-shadow: 0 4px 8px 0 rgba(44, 29, 255, 0.2);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  height: 350px;
}

.pokemon-image {
  height: 200px;
  padding: 10px;
}

.pokemon-types {
  padding: 5px;
}

.pokemon-type {
  height: 30px;
}

.pokemon-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.pokemon-header,
.pokemon-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemon-name {
  font-size: 1.5em;
  font-weight: bold;
}

.pokemon-id{
  font-size: 1.1em;
}

.pokemon-header div {
  display: flex;
  align-items: center;
}

.pokemon-footer{

  color: #07ce00;
  font-size: 1.7em;
}

.pokemon-button{
  color: #07ce00 !important;
  font-size: 1.4em !important;

  padding: 0 !important;
}

.cash{
  font-weight: 700;
}

.blocked {
  cursor: not-allowed !important;
}

.loading{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px){
  .header{
    flex-direction: column;
  }
}